# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Bifrost.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\dev\Bifrost\Bifrost\.idea\.idea.Bifrost\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
